<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.carClub.mapper.MemberMapper">
    <cache eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="true"/>

    <resultMap id="trainResult" type="cn.carClub.pojo.Train">
        <id column="trainId" property="trainId"/>
        <result column="trainTime" property="trainTime"/>
        <result column="trainMessage" property="trainMessage" javaType="[Ljava.lang.String;" jdbcType="VARCHAR"/>
        <result column="memberId" property="memberId"/>
        <result column="memberName" property="memberName"/>
    </resultMap>

    <!--查询车务信息-->
    <select id="getAllTrain" resultType="cn.carClub.dto.TrainTmp">
        SELECT * FROM Train t, member m WHERE t.MemberId=m.MemberId
    </select>
    <select id="getTrainByMemberId" resultMap="trainResult" parameterType="String">
        SELECT * FROM Train t, member m WHERE t.memberId = #{memberId} AND `t`.MemberId=m.MemberId
    </select>
    <insert id="addTrain" parameterType="cn.carClub.dto.TrainTmp" >
        INSERT into Train VALUEs(null,#{trainTime},#{trainMessage},#{message},#{memberId})
    </insert>
    <!--<delete id="deleteTrain" parameterType="String">-->
        <!--DELETE FROM Train WHERE trainId=#{trainId}-->
    <!--</delete>-->
    <!--<update id="modifyTrain">-->
        <!--UPDATE Train SET remindTime=#{trainTime},remindMessage=#{trainMessage},message=#{message} WHERE traindId=#{traindId}-->
    <!--</update>-->

    <!--查询旅行信息-->
    <select id="getAllTravel" resultType="Travel">
        SELECT * FROM Travel t, member m WHERE t.MemberId=m.MemberId
    </select>
    <select id="getTravelByTravelId" resultType="Travel" parameterType="String">
        SELECT * FROM Travel t, member m WHERE travelId = #{travelId} AND t.MemberId=m.MemberId
    </select>
    <select id="getTravelByMemberId" resultType="Travel" parameterType="String">
        SELECT * FROM Travel t, member m WHERE t.memberId = #{memberId} AND t.MemberId=m.MemberId
    </select>
    <insert id="addTravel" parameterType="Travel" useGeneratedKeys="true" keyProperty="travelId">
        INSERT into Travel VALUEs (null,#{travelTime},#{travelAddress},#{travelPrice},#{memberId})
    </insert>
    <delete id="deleteTravel" parameterType="String">
    DELETE FROM Travel WHERE travelId=#{travelId}
    </delete>
    <update id="modifyTravel">
    UPDATE Travel SET travelTime=#{travelTime},travelAddress=#{travelAddress},travelPrice=#{travelPrice} WHERE travelId=#{travelId}
    </update>

    <!--查询救援信息-->
    <select id="getAllRescue" resultType="Rescue">
        SELECT * FROM Rescue r, member m WHERE r.MemberId=m.MemberId
    </select>
    <select id="getRescueByMemberId" resultType="Rescue" parameterType="String">
        SELECT * FROM Rescue r, member m WHERE r.memberId = #{memberId} AND r.MemberId=m.MemberId
    </select>
    <select id="getRescueByRescueId" resultType="Rescue" parameterType="String">
        SELECT * FROM Rescue r, member m WHERE rescueId = #{rescueId} AND r.MemberId=m.MemberId
    </select>
    <insert id="addRescue" parameterType="Rescue" useGeneratedKeys="true" keyColumn="rescueId">
        INSERT into Rescue VALUEs (null,#{rescueTime},#{rescuePlace},#{rescueStatus},#{memberId},#{carId})
    </insert>
    <delete id="deleteRescue" parameterType="String">
        DELETE FROM Rescue WHERE rescueId=#{rescueId}
    </delete>
    <update id="modifyRescue" parameterType="Rescue">
        UPDATE Rescue SET
        rescueTime=#{rescueTime},rescuePlace=#{rescuePlace},rescueStatus=#{rescueStatus},memberId=#{memberId},carId=#{carId}
        WHERE rescueId=#{rescueId}
    </update>
    <select id="getAllCar" resultType="Car">
        SELECT * from Car
    </select>
    <select id="getCarById" resultType="Car">
        SELECT * from Car WHERE CarID=#{carId}
    </select>
    <update id="carStatusChange">
        UPDATE Car SET carStatus=#{carStatus} WHERE carID=#{carId}
    </update>

    <!--查询会员信息-->
    <select id="getAllMember" resultType="Member">
        SELECT * FROM Member
    </select>
    <select id="getMemberById" resultType="Member" parameterType="String">
        SELECT * FROM Member WHERE memberId = #{memberId}
    </select>
    <insert id="addMember" parameterType="Member" >
        INSERT into Member VALUEs (#{memberId},#{memberName},#{memberCard},#{memberPhone},#{memberEmail})
    </insert>
    <delete id="deleteMember" parameterType="String">
        DELETE FROM Member WHERE memberId=#{memberId}
    </delete>
    <update id="modifyMember" parameterType="Rescue">
        UPDATE Member SET
        memberName=#{memberName},memberCard=#{memberCard},memberPhone=#{memberPhone},memberEmail=#{memberEmail}
        WHERE memberId=#{memberId}
    </update>
</mapper>